
    .table td {
        padding: 0.7rem;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
    }

    .table th {
        padding: 0.7rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }