//  .table th {
//     padding: 0.4rem;
   
//     border-top: 1px solid #dee2e6;
//     vertical-align: middle;
//   }
// .table td {
//     padding: 0.5rem;
   
//     border-top: 1px solid #dee2e6;
//     vertical-align: middle;
//   }

 

.table td {
  padding: 0.1rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table th {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}